.hmmm{
  /* color: white; */
  text-align: center;
}



button{
  margin: 10px;
  padding: 10px 10px;
  background-color: #4caf50;
  color: white;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}